<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Gamer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Gemini Gamer</h1>
        <h2>Venha Saber Tudo sobre os games</h2>
        <form action="/" method="post">
            <input type="text" name="pergunta" placeholder="Digite sua pergunta gamer...">
            <button type="submit">Play</button>
        </form>
        <div id="chat-area">
            {% for pergunta, resposta in conversa %}
                <p><strong>Você perguntou:</strong> {{ pergunta }}</p>
                <p><strong>Resposta:</strong> {{ resposta | safe }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
